@model Geneanet.Models.Member

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <div class="row">
        <div class="col-6">
            <h5 style="color:blue">Father</h5>
            @foreach (var father in ViewBag.Parents)
            {
                <span style="color:blue">@if(father.Gender=="Male"){<span>♂ @father.FirstName @father.LastName</span>}</span>
            }
        </div>

        <div class="col-6">
            <h5 style="color:hotpink">Mother</h5>
            @foreach (var mother in ViewBag.Parents)
            {
                <span style="color:hotpink">@if(mother.Gender=="Female"){<span>♀ @mother.FirstName @mother.LastName</span>}</span>
            }
        </div>

    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Occupation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Occupation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>
    <hr>
    <h5>Children</h5>
    @foreach (var child in ViewBag.Children)
    {
        string? color = "gray";

        if (child.Gender == "Male") 
            color = "blue";

        else if (child.Gender == "Female") 
            color = "hotpink";

        <p style="color:@color"><strong>@if(child.Gender=="Male"){<span>♂</span>} else if(child.Gender=="Female"){<span>♀</span>} @child.FirstName @if(child.Patronymic != null && child.Patronymic != "") {@child.Patronymic} @child.LastName</strong></p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
